@font-face {
    font-family: 'Hubballi';
    src: url('Hubballi-Regular.woff2') format('woff2'),
        url('Hubballi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

